:root {
    --bg: #DB4D30;
    --cc: #30DB98;
    --highlight: #5F3BDB;
}

* {
    margin: 0;
    padding: 0;

}

body {
    font-family: 'Hind Siliguri', sans-serif;
    background-color: var(--bg)
}

main {
    margin: 200px;
    text-align: center;
}
input {
    height: 90px;
    font-size: 40px;
    border-radius: 20%;
    text-align: center;
    width: 95px;
    margin-top: 40px;
}
ul {
    list-style: none;
    font-size: 2.2rem;
    color: var(--bg);
}

h1 {
    margin-bottom: 40px;
    font-weight: 700;
    font-size: 2.2rem;
}

h2 {
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 2rem;
}

p {
    text-align: right;
    margin: 0 40px 20px 0;
    font-size: 2rem;
    
}

label {
    font-size: 2rem;
}

span {
    color: black;
    font-size: 1.5rem;
}

#start-button {
    height: 100px;
    width: 200px;
    font-size: 2rem;
    border-radius: 40px;
    box-shadow: 3px 3px 5px;
    background-color: var(--cc);
    margin: 0 auto;
}

#start-button:hover {
    background-color: #38FFAF;
}

#start-card {
    border-radius: 40px;
    background-color: var(--cc);
    position: relative;
    margin: 0 auto 20px;
    height: 400px;
    width: 640px;
    padding: 40px 20px 10px;
    border: 5px solid black;
}

#question-card {
    border-radius: 40px;
    background-color: var(--cc);
    position: relative;
    margin: 0 auto 20px;
    height: 400px;
    width: 640px;
    padding: 40px 20px 10px;
    border: 5px solid black;
    line-height: 1.5;
    display: none;
}

ol {
    text-align: left;
    word-wrap: normal;
    font-size: 1.2rem;
    color: black;
}

ol li {
    border: 2px solid var(--bg);
    margin: 5px 0;
    border-radius: 40px;
    padding-left: 3px;
}

ol li:hover {
    cursor: pointer;
    border-color: var(--highlight);
}

#question-card.correct {
    background-color:green;
    font-family: 'Londrina Outline', cursive;
    font-size: 80px;
    color: red;
    font-weight: 400;
}

#question-card.incorrect {
    font-family: 'Londrina Outline', cursive;
    background-color: red;
    font-size: 80px;
    color: green;
    font-weight: 400;
}
#initials-card {
    border-radius: 40px;
    background-color: var(--cc);
    position: relative;
    margin: 0 auto 20px;
    height: 400px;
    width: 640px;
    padding: 40px 20px 10px;
    border: 5px solid black;
    line-height: 1.5;
    display: none;
}

#initials-card button{
    height: 100px;
    width: 200px;
    font-size: 2rem;
    border-radius: 40px;
    box-shadow: 3px 3px 5px;
    background-color: var(--bg);
    margin: 67px auto;
}

#initials-card button:hover {
    cursor: pointer;
    border-color: var(--highlight);
}

@media screen and (max-width: 1080px){
    main {
        margin: 200px 0;
    }
    #start-card, #question-card, #initials-card {
        width: 80vw;
    }
    p {
        text-align: right;
        margin: 0 40px 0 0;
        font-size: 2rem;
    }
}

@media screen and (max-width: 740px) {
    main {
        margin: 80px 0 0 0;
    }
    #start-card, #question-card, #initials-card {
        padding-bottom: 60px;
}
}

@media screen and (max-width: 625){
    #start-card, #question-card, #initials-card {
        padding-bottom: 213px;
    }
    h1{
        font-size: 1rem;
    }
}