:root {
    --bg: #DB4D30;
    --cc: #30DB98;
}

* {
    margin: 0;
    padding: 0;

}

body {
    font-family: 'Hind Siliguri', sans-serif;
    background-color: var(--bg)
}

main {
    margin: 200px;
    text-align: center;
}

ul {
    list-style: none;
    font-size: 2.2rem;
    color: var(--bg);
}

h1 {
    margin-bottom: 40px;
    font-weight: 700;
    font-size: 2.2rem;
}

h2 {
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 2rem;
}

p {
    text-align: right;
    margin: 0 40px 20px 0;
    font-size: 2rem;
    
}

span {
    color: black;
    font-size: 1.5rem;
}

.start-button {
    height: 100px;
    width: 200px;
    font-size: 2rem;
    border-radius: 40px;
    box-shadow: 3px 3px 5px;
    background-color: var(--cc);
}

.start-button:hover {
    background-color: #38FFAF;
}

.card {
    border-radius: 40px;
    background-color: var(--cc);
    position: relative;
    margin: 0 auto 20px;
    height: 400px;
    width: 640px;
    padding: 40px 20px 10px;
}

@media screen and (max-width: 1080px){
    main {
        margin: 200px 0;
    }
    .card {
        width: 94vw;
    }
    p {
        text-align: right;
        margin: 0 40px 0 0;
        font-size: 2rem;
    }
}

@media screen and (max-width: 634px){
    main {
        margin: 0;
    }
    .card{
        padding-bottom: 60px;
    }
}